<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firatnet.wts">

    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MyPostsActivity"></activity>
        <activity android:name=".activities.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.MyProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.FeedBackActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.SellActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.BuyOrSellActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.HelpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".phoneauth.VerifyPhoneActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".phoneauth.PhoneNumberAuthActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>